.projects .hero-title {
  font-weight: 500;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

@media screen and (max-width: 900px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
a {
  text-decoration: none;
  color: var(--main-color);
}

.card-img {
  background-image: url("images/chat-app.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px;
}

.card-img-2 {
  background-image: url("images/e-commerce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px;
}
.card-stacks {
  display: flex;
  font-size: 0.8rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--main-color);
  border-radius: 1rem;
}
